@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Next Bike</h1>
    <p>Aluguel de bicicletas, contamos com diversos modelos e para todos os tipos de usuários!</p>
</div>
